<header class="title">
	<h1><a href="/">Geoff Pado</a></h1>
	<nav>
		<a href="/blog/" {% if page.highlight == 'blog' %}class="active"{% endif %}>Blog</a>
		<a href="/work/" {% if page.highlight == 'work' %}class="active"{% endif %}>Work</a>
		<a href="/streams/" {% if page.highlight == 'logs' %}class="active"{% endif %}>Streams</a>
		<a href="/talks/" {% if page.highlight == 'talks' %}class="active"{% endif %}>Talks</a>
		<a href="/resume/" {% if page.highlight == 'resume' %}class="active"{% endif %}>R&eacute;sum&eacute;</a>
	</nav>
</header>
