header {
	@include span-columns(12);

	@include media($tablet) {
		@include span-columns(10);
		@include shift(1);
	}

	@include media($mobile) {
		@include span-columns(8);
		@include shift(1);
	}

	font-family: $header_family;
	position: relative;
	margin-bottom: 1em;

	h1 {
		a:hover {
			color: black;
		}
	}

	nav {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;

		@media print {
			display: none;
		}

		a {
			display: inline-block;
			margin-bottom: 2px;
			margin-left: 8px;
			padding: 3px 0px;
			color: black;
			text-decoration: none;
			font-size: 20px;
			font-weight: 300;
		}

		a.active {
			margin-bottom: 0px;
			border-bottom: 2px solid $highlight_color;
		}

		a:hover {
			margin-bottom: 0px;
			border-bottom: 2px solid $highlight_hover;
		}

		@include media($mobile) {
			left: 0;
			top: 100%;

			a {
				margin: 0;
				margin-top: 4px;
				margin-right: 8px;
			}

			a.active {
				margin-top: 2px;
				border-top: 2px solid $highlight_color;
				border-bottom: none;
			}

			a:hover {
				margin-top: 2px;
				border-top: 2px solid $highlight_hover;
				border-bottom: none;
			}
		}
	}

	@include media($mobile) {
		margin-bottom: 3em;
	}
}

.title {
	margin-top: 20px;
	border-bottom: solid 2px black;
}
