@import 'main';
@import 'resume';
@import 'syntax';

.blogroll {
	@include media($mobile) {
		display: none;
	}
}

.footnote {
	font-size: 0.8em;
}

.footnotes {
	hr {
		border: none;
		width: 80%;
		border-bottom: 1px dashed #dedede;
	}
}

figure {
	margin: 0;
	margin-bottom: 1em;

	img {
		width: 100%;	
	}

	figcaption {
		font-weight: 300;
		font-size: 0.9em;
		text-align: center;
	}
}

.license {
	width: 80%;
	font-size: 0.8em;
	font-weight: 300;
	color: $standard_text_color;

	hr {
		border: 0;
		height: 1px;
		background-color: #ccc;
		margin: 1em 0;
	}

	a {
		display: inline;
	}

	@include media($mobile) {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		color: $inverse_text_color;
	}
}

.video-wrapper {
	position: relative;
	padding-top: 56.25%;
	height: 0;
	margin-bottom: 1.5em;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
