@import 'main';

aside {
	@include span-columns(3);
	@include omega();

	@include media($tablet) {
		@include shift(1);
	}

	@include media($mobile) {
		@include span-columns(8);
		@include shift(1);
		margin-bottom: 1em;
	}

	a {
		display: block;
		color: $highlight_color;
		margin-bottom: 3px;
	}

	address {
		margin: 20px 0px;
		font-style: normal;
	}

	.resume-actions {
		@media print {
			display: none;
		}

		hr {
			border: 0;
			width: 80%;
			height: 1px;
			background-color: #ccc;
			margin: 1em 0;
		}

		@include media($mobile) {
			display: none;
		}
	}
}

.resume {
	h3 {
		font-size: 1.1em;
		margin-bottom: 3px;

		.duration {
			font-size: 0.8em;
			margin-left: 3px;
			font-weight: 300;
		}
	}

	#education {
		h3 {
			margin-bottom: 1em;
		}
	}

	@media print {
		p {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 18px;
		}

		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 14px;

			.duration {
				font-size: 11px;
			}
		}
	}
}

.resume-contact {
	font-size: 14px;
}

article {
	@include span-columns(9);

	@include media($tablet) {
		@include span-columns(7);
	}

	@include media($mobile) {
		@include span-columns(8);
		@include shift(1);
	}
}
