.highlight {
    .hll { background-color: #ffffcc }
    .c { color: #60a0b0; font-style: italic } /* Comment */
    .err { border: 1px solid #FF0000 } /* Error */
    .k { color: $main500; font-weight: bold } /* Keyword */
    .o { color: $gray800 } /* Operator */
    .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
    .cp { color: #007020 } /* Comment.Preproc */
    .c1 { color: $gray500; font-style: italic } /* Comment.Single */
    .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #FF0000 } /* Generic.Error */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #808080 } /* Generic.Output */
    .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #0040D0 } /* Generic.Traceback */
    .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
    .kd { color: $main500; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #007020 } /* Keyword.Pseudo */
    .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
    .kt { color: $gray900 } /* Keyword.Type */
    .m { color: $main600 } /* Literal.Number */
    .s { color: $main600 } /* Literal.String */
    .na { color: #4070a0 } /* Name.Attribute */
    .nb { color: #007020 } /* Name.Builtin */
    .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
    .no { color: #60add5 } /* Name.Constant */
    .nd { color: #555555; font-weight: bold } /* Name.Decorator */
    .ni { color: #d55537; font-weight: bold } /* Name.Entity */
    .ne { color: #007020 } /* Name.Exception */
    .nf { color: $main500 } /* Name.Function */
    .nl { color: #002070; font-weight: bold } /* Name.Label */
    .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
    .nt { color: #062873; font-weight: bold } /* Name.Tag */
    .nv { color: $main400 } /* Name.Variable */
    .ow { color: #007020; font-weight: bold } /* Operator.Word */
    .w { color: $gray200 } /* Text.Whitespace */
    .mf { color: $main600 } /* Literal.Number.Float */
    .mh { color: $main600 } /* Literal.Number.Hex */
    .mi { color: $main600 } /* Literal.Number.Integer */
    .mo { color: $main600 } /* Literal.Number.Oct */
    .sb { color: $main600 } /* Literal.String.Backtick */
    .sc { color: $main600 } /* Literal.String.Char */
    .sd { color: $main600; font-style: italic } /* Literal.String.Doc */
    .s2 { color: $main600 } /* Literal.String.Double */
    .se { color: $main600; font-weight: bold } /* Literal.String.Escape */
    .sh { color: $main600 } /* Literal.String.Heredoc */
    .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
    .sx { color: #c65d09 } /* Literal.String.Other */
    .sr { color: #235388 } /* Literal.String.Regex */
    .s1 { color: #4070a0 } /* Literal.String.Single */
    .ss { color: #517918 } /* Literal.String.Symbol */
    .bp { color: #007020 } /* Name.Builtin.Pseudo */
    .vc { color: #bb60d5 } /* Name.Variable.Class */
    .vg { color: #bb60d5 } /* Name.Variable.Global */
    .vi { color: #bb60d5 } /* Name.Variable.Instance */
    .il { color: $main600 } /* Literal.Number.Integer.Long */
    .p { color: $gray900 } /* Punctuation */
    .n { color: $gray900 } /* Name */

    @media (prefers-color-scheme: dark) {
        .o { color: $gray200 };
        .kt, .p, .n { color: $gray100 };
    } 
}
