$header_family: "Alegreya Sans", "Helvetica Neue", sans-serif;
$body_family: "Lato", "Helvetica Neue", "Segoe UI Light", sans-serif;

h1,h2,h3 {
	display: block;
	margin: 0px;
	font-weight: 400;
}

h1 {
	font-size: 32px;
	margin-bottom: 2px;

	a {
		color: black;
		text-decoration: none;
	}
}

h2 {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.6em;
	color: black;
}

p, ul, ol {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

ul {
	padding-left: 1em;
	list-style-type: none;

	li:before {
		content: "— "
	}
}

ol {
	padding-left: 1em;
}

dl {
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	display: grid;
	grid-template-columns: max-content auto;
}

dt {
	grid-column-start: 1;
	text-align: right;
}

dd {
	margin-left: 1em;
	font-weight: 300;
	grid-column-start: 2;
	margin-bottom: 0.1em;
}

li {
	margin-bottom: 0.3em;	
}

a {
	color: $highlight_color;
	text-decoration: none;
}

a:hover {
	color: $highlight_dark;
}

.highlight {
	font-size: 1.1em;
}

strong {
	font-weight: 400;
}

pre {
	white-space: pre-line;
	overflow: scroll;
}

code {
	font-family: "Fira Mono", monospace;
	font-size: 0.8em;
	line-height: 1.4em;
}
